imports:
  - jobs.yaml
  - orchestration.yaml

parameters:
  daipeproject:
    datalake:
      base_path: '/%kernel.environment%'

  # overrides default bundle settings defined in site-packages/databricksbundle/_config/config.yaml
  #databricksbundle:
  #  databricks_connect:
  #    connection:
  #      address: '%daipeproject.databricks.address%'
  #      cluster_id: '[Your cluster ID]'

  # overrides default bundle settings defined in site-packages/datalakebundle/_config/config.yaml
  datalakebundle:
    table:
      name_template: '%kernel.environment%_{identifier}'
      defaults:
        base_path: '%daipeproject.datalake.base_path%' # from config.yaml
        target_path: !expr 'base_path + "/" + db_identifier + "/" + table_identifier + ".delta"'

  featurestorebundle:
    base_path: 'dbfs:/path/to/feature_store'
    entities:
    #  <entity_name>:
    #    id_column: "<id_column_name>"
    #    id_column_type: "<type>"
    target:
      table:
        path_template: 'dbfs:/path/to/{entity}_target_store.delta'
      enum_table:
        path: 'dbfs:/path/to/targets_enum.delta'

    widgets:
      defaults:
        timestamp: "2022-01-01"
        target_date_from: "2000-01-01"
        target_date_to: "2022-01-01"
        target_time_shift: "-5d"
    time_windows: ["14d", "30d", "90d"]
